/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */


h1 {
  color: #6F7F7A;
  font-size: 4em;
}

h2 {
  color: #6F7F7A;
  font-size: 2em;
}

footer {
  text-align: right;
  font-size: 0.7em;
}

img {
  border: 8px solid #CCCCCC;
}

#header-image {
  border: 4px solid #98ADA6;
}